@page
@model SimulationModel

<h1>Simulation</h1>

<p>Turn: @Model.Turn</p>

<form method="post">
    <button type="submit" asp-page-handler="NextTurn">Next Turn</button>
</form>

<form method="post">
    <button type="submit" asp-page-handler="PreviousTurn">Previous Turn</button>
</form>

<div class="grid-container" style="grid-template-columns: repeat(@Model.MapGrid.GetLength(0), 70px);">
    @for (int y = 0; y < @Model.MapGrid.GetLength(1); y++)
    {
        for (int x = 0; x < @Model.MapGrid.GetLength(0); x++)
        {
            var content = Model.MapGrid[x, y];
            <div class="grid-item">
                @if (!string.IsNullOrEmpty(content))
                {
                    @if(content == "A")
                    {
                        <img src="@Url.Content($"~/images/R.png")" alt="@content" style="width: 100%; height: 100%;" />
                    }
                    else
                    {
                        <img src="@Url.Content($"~/images/{content}.png")" alt="@content" style="width: 100%; height: 100%;" />
                    }
                    
                }
            </div>
        }
    }
</div>
